.row {
  width: calc(100vw - 80px) !important;
  max-width: 540px !important;
  height: initial !important;
}

.row .account {
  width: calc(100vw - 160px);
  max-width: 480px;
  padding: 0px;
}

.row .account div {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}

.row .data {
  text-align: left;
  word-break: break-all;
}

.row .side-btn {
  height: 50px;
}

.sub-button {
  font-size: 12px !important;
  margin-bottom: 5px !important;
  height: 30px !important;
}