.row {
  background-color: transparent !important;
  width: calc(100vw - 80px) !important;
  max-width: 540px !important;
  height: initial !important;
}

.row .address {
  width: calc(100vw - 110px);
  max-width: 510px;
  padding-left: 10px;
  text-align: left;
}

.row .data {
  text-align: left;
  word-break: break-all;
}

.sub-button {
  font-size: 12px !important;
  margin-bottom: 5px !important;
  height: 30px !important;
}