<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="signin" style="max-width: 100%;">
      <ion-label>SignIn</ion-label>
      <ion-icon name="log-in"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="history" style="max-width: 100%;">
      <ion-label>History</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="sign" style="max-width: 100%;">
      <ion-label>MultiSign</ion-label>
      <ion-icon name="create"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="setting" style="max-width: 100%;">
      <ion-label>Setting</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>