<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AccountEdit</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div>{{address}}</div>
    <div><input placeholder="Enter misc (optional)" type="text" id="misc" [(ngModel)]="model.misc"></div>
    <div><button (click)="save()">save</button></div>
    <div><button (click)="removeAccount()">removeAccount</button></div>
  </div>
</ion-content>