#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  height: 100%;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  margin-top: 20px;
  height: 40px;
}

.address-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  width: calc(100vw - 130px);
  max-width: 560px;
}

.address-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  font-size: 20px;
  width: 30px;
}