<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AccountEdit</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="identicon"><img src="https://lisk-avator.ysdev.work/{{address}}?size=130"/></div>
    <div class="item-title">- address -</div>
    <div class="item-row">
      <div class="address">{{address}}</div>
      <div class="address-copy" (click)="copy()"><ion-icon name="copy"></ion-icon></div>
    </div>
    <div class="item-title">- misc -</div>
    <div class="input-box">
      <div><input placeholder="Enter misc (optional)" type="text" id="misc" [(ngModel)]="model.misc"></div>
      <div class="input-clear" (click)="clear()"><ion-icon name="trash"></ion-icon></div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer-buttons">
    <ion-button style="max-width: 100%; margin-right: 5px;" (click)="save()">SAVE</ion-button>
    <ion-button style="max-width: 100%; margin-left: 5px;" (click)="delete()" color="danger">DELETE</ion-button>
</div>
</ion-footer>