<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AccountEdit</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <img src="https://lisk-avator.ysdev.work/{{address}}?size=130"/>
      <ion-card-title>
        <div class="address">
          <div class="address-text">{{address}}</div>
          <div class="address-copy" (click)="copy()"><ion-icon name="copy"></ion-icon></div>
        </div>
      </ion-card-title>
      <ion-card-content>
        <div class="item-title">misc</div>
        <div class="input-box">
          <div><input placeholder="Enter misc (optional)" type="text" autocomplete="off" [(ngModel)]="model.misc"></div>
          <div class="input-clear" (click)="clear()"><ion-icon name="trash"></ion-icon></div>
        </div>
        <ion-button *ngIf="ref===0 || ref===1" style="margin-top: 20px;" (click)="save()">SAVE</ion-button>
        <ion-button *ngIf="ref===0" style="margin-top: 10px;" (click)="delete()" color="danger">DELETE</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>