<ion-header [translucent]="true" style="padding: 0px;">
  <ion-toolbar style="padding: 0px;">
    <ion-title>Bookmarks</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="isView">
      <div class="rows">
        <div cdkDropList [cdkDropListData]="bookmarks" (cdkDropListDropped)="drop($event)">
          <div cdkDrag *ngFor="let bookmark of bookmarks">
            <div class="row">
              <div class="side-btn left" (click)="openBookmarkEdit(bookmark.address)">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
              <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{bookmark.address}}?size=30"/></div>
              <div class="account" (click)="setAddress(bookmark.address)">
                <div class="address">{{bookmark.address}}</div>
                <div>misc: {{bookmark.misc}}</div>
              </div>
              <ion-icon class="sort" name="reorder-three-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>