<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SignIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="input-box">
      <div><input placeholder="Enter Passphrase" type="password" [(ngModel)]="model.passphrase"></div>
      <div class="input-clear" (click)="clear()"><ion-icon name="trash"></ion-icon></div>
    </div>
    <div style="margin-top: 10px;"><ion-button (click)="signIn()">SingIn</ion-button></div>
  </div>
</ion-content>