<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SignIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    SignIn
    <div><a routerLink="/action">サインイン</a></div>
    <div><button (click)="setAccount('test3')">setAccount</button></div>
    <div><button (click)="getAccounts()">getAccounts</button></div>
    <div><button (click)="removeAccount('test2')">removeAccount</button></div>
    <div><button (click)="remove()">removeStorage</button></div>
  </div>
</ion-content>