<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SignIn</ion-title>
    <ion-buttons slot="primary">
      <div class="select-network">
        <div><ion-toggle mode="ios" [(ngModel)]="model.network" (ionChange)="changeNetwork()"></ion-toggle></div>
        <div>testnet</div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <input placeholder="Enter Passphrase" type="password" id="passphrase" [(ngModel)]="model.passphrase"> 
    <div><ion-button (click)="signIn()">SingIn</ion-button></div>
  </div>
</ion-content>