<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AccountEdit</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img src="https://lisk-avator.ysdev.work/{{address}}?size=130"/>
    <div class="address">
      {{address}}
    </div>
    <ion-button class="address-copy" fill="outline" color="medium" (click)="copy()"><ion-icon name="copy"></ion-icon>&nbsp;Copy address</ion-button>
    <div class="item-title">misc (optional)</div>
    <ion-item class="input-item" lines="full">
      <ion-input type="text" value={{misc}} placeholder="Enter misc (optional)" clearInput="true" autocomplete="off" (ionChange)="setMisc($event.target.value)"></ion-input>
    </ion-item>
    <ion-button (click)="save()" style="margin-top: 10px;">Save</ion-button>
    <ion-button *ngIf="availableDelete" style="margin-top: 5px;" (click)="delete()" color="danger">Delete</ion-button>
  </div>
</ion-content>