<ion-header [translucent]="true" style="padding: 0px;">
  <ion-toolbar style="padding: 0px;">
    <ion-title>Members</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="rows">
      <div *ngFor="let member of multisignatureMembers">
        <div class="row">
          <a class="row-btn" href="{{explorerUrl}}/account/{{address}}" target="_blank" rel="noopener noreferrer">
            <div class="identicon"><img src="https://lisk-avator.ysdev.work/{{member.address}}?size=30"/></div>
            <div class="account">
              <div class="address">{{member.address}}</div>
              <div>{{member.isMandatory? 'Mandatory': 'Optional'}}</div>
            </div>
            <div class="side-btn right"><ion-icon class="link" name="desktop-outline"></ion-icon></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>