.info-area,
.delegates-area {
  height: calc(100vh - 260px);
  overflow-y: scroll;
  padding-bottom: 20px;
}

.row .account {
  width: calc(100vw - 110px);
  max-width: calc(600px - 70px);
}

.row .account div.delegate-address {
  font-size: 0.8rem;
  color: #cee0ee;
}

.btn-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button.continue-btn  {
  font-size: 16px;
  height: 50px;
  width: calc(100vw - 40px);
  max-width: 600px;
  margin-left: -1px;
  margin-top: 20px;
}

// slide
ion-slides {
  height: calc(100% - 100px);
  width: calc(100vw - 40px) !important;
  max-width: 600px !important;
  padding-top: 10px;
}

ion-slide {
  display: block;
}

::ng-deep .swiper-pagination-bullet {
  opacity: 1 !important;
}