<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="signin-account">
      <div class="account-info" *ngIf="isView">
        <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{address}}?size=30"/></div>
        <div class="account">
          <div class="address">{{address}}</div>
          <div class="balance">{{balance}} LSK</div>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="reflesh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-slides #slides pager="true" [options]="slideOpts" *ngIf="isView" (ionSlideDidChange)="changeSlide()">
    <ion-slide>
      <div class="info-area">
        <div class="content-title">- Vote Info -</div>
        <div *ngIf="selfVote === null && currentVote.length === 0 && newVote.length === 0" style="margin-top: 5px;">No data</div>
        <div *ngIf="selfVote !== null || currentVote.length > 0 || newVote.length > 0" style="margin-top: 5px;">
          <div class="rows" style="margin-top: 5px;">

            <div class="item-title">Status (current / max)</div>
            <div class="row vote-status">
              <div class="text">Number of vote: {{voteCount}} / 10</div>
              <div class="text">Number of unlock: {{unlockCount}} / 20</div>
            </div>
            
            <div *ngIf="selfVote !== null">
              <div class="item-title">Self Vote</div>
              <div class="row" (click)="openVote(selfVote.address, 0)">
                <div class="side-btn left">
                  <ion-icon  *ngIf="selfVote.amount <= selfVote.afterAmount" name="happy-outline"></ion-icon>
                  <ion-icon  *ngIf="selfVote.amount > selfVote.afterAmount" name="sad-outline"></ion-icon>
                </div>
                <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{selfVote.address}}?size=30"/></div>
                <div class="account">
                  <div class="address">{{selfVote.rank}}: {{selfVote.userName}}</div>
                  <div *ngIf="selfVote.amount === selfVote.afterAmount">{{selfVote.amount}} LSK</div>
                  <div *ngIf="selfVote.amount !== selfVote.afterAmount">{{selfVote.amount}} -> {{selfVote.afterAmount}} LSK</div>
                </div>
                <div class="delegate-status">
                  <div *ngIf="selfVote.status === 'active'" class="active"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                  <div *ngIf="selfVote.status === 'standby'" class="standby"><ion-icon name="stop-circle-outline"></ion-icon></div>
                  <div *ngIf="selfVote.status === 'punished'" class="punished"><ion-icon name="warning"></ion-icon></div>
                  <div *ngIf="selfVote.status === 'banned'" class="banned"><ion-icon name="skull-outline"></ion-icon></div>
                  <div class="delegate-status-text">{{selfVote.status}}</div>
                </div>
              </div>
            </div>
  
            <div *ngIf="currentVote.length > 0">
              <div class="item-title">Current Vote</div>
              <div *ngFor="let vote of currentVote">
                <div class="row" (click)="openVote(vote.address, 1)">
                  <div class="side-btn left">
                    <ion-icon  *ngIf="vote.amount <= vote.afterAmount" name="happy-outline"></ion-icon>
                    <ion-icon  *ngIf="vote.amount > vote.afterAmount" name="sad-outline"></ion-icon>
                  </div>
                  <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{vote.address}}?size=30"/></div>
                  <div class="account">
                    <div class="address">{{vote.rank}}: {{vote.userName}}</div>
                    <div *ngIf="vote.amount === vote.afterAmount">{{vote.amount}} LSK</div>
                    <div *ngIf="vote.amount !== vote.afterAmount">{{vote.amount}} -> {{vote.afterAmount}} LSK</div>
                  </div>
                  <div class="delegate-status">
                    <div *ngIf="vote.status === 'active'" class="active"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                    <div *ngIf="vote.status === 'standby'" class="standby"><ion-icon name="stop-circle-outline"></ion-icon></div>
                    <div *ngIf="vote.status === 'punished'" class="punished"><ion-icon name="warning"></ion-icon></div>
                    <div *ngIf="vote.status === 'banned'" class="banned"><ion-icon name="skull-outline"></ion-icon></div>
                    <div class="delegate-status-text">{{vote.status}}</div>
                  </div>
                </div>
              </div>
            </div>
  
            <div *ngIf="newVote.length > 0">
              <div class="item-title">New Vote</div>
              <div *ngFor="let vote of newVote">
                <div class="row" (click)="openVote(vote.address, 2)">
                  <div class="side-btn left">
                    <ion-icon  *ngIf="vote.amount <= vote.afterAmount" name="happy-outline"></ion-icon>
                    <ion-icon  *ngIf="vote.amount > vote.afterAmount" name="sad-outline"></ion-icon>
                  </div>
                  <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{vote.address}}?size=30"/></div>
                  <div class="account">
                    <div class="address">{{vote.rank}}: {{vote.userName}}</div>
                    <div *ngIf="vote.amount === vote.afterAmount">0 LSK</div>
                    <div *ngIf="vote.amount !== vote.afterAmount">0 -> {{vote.afterAmount}} LSK</div>
                  </div>
                  <div class="delegate-status">
                    <div *ngIf="vote.status === 'active'" class="active"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                    <div *ngIf="vote.status === 'standby'" class="standby"><ion-icon name="stop-circle-outline"></ion-icon></div>
                    <div *ngIf="vote.status === 'punished'" class="punished"><ion-icon name="warning"></ion-icon></div>
                    <div *ngIf="vote.status === 'banned'" class="banned"><ion-icon name="skull-outline"></ion-icon></div>
                    <div class="delegate-status-text">{{vote.status}}</div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </ion-slide>
    
    <!-- Delegates -->
    <ion-slide>
      <div class="delegates-area">
        <div class="content-title">- Delegates -</div>
        <div *ngIf="delegates.length === 0" style="margin-top: 5px;">No data</div>
        <div *ngIf="delegates.length > 0" style="margin-top: 5px;">
          <div class="rows" style="margin-top: 5px;">
  
            <div *ngFor="let vote of delegates">
              <div class="row" (click)="openVote(vote.address, 3)">
                <div class="side-btn left">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </div>
                <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{vote.address}}?size=30"/></div>
                <div class="account">
                  <div class="address">{{vote.rank}}: {{vote.userName}}</div>
                </div>
                <div class="delegate-status">
                  <div *ngIf="vote.status === 'active'" class="active"><ion-icon name="checkmark-circle-outline"></ion-icon></div>
                  <div *ngIf="vote.status === 'standby'" class="standby"><ion-icon name="stop-circle-outline"></ion-icon></div>
                  <div *ngIf="vote.status === 'punished'" class="punished"><ion-icon name="warning"></ion-icon></div>
                  <div *ngIf="vote.status === 'banned'" class="banned"><ion-icon name="skull-outline"></ion-icon></div>
                  <div class="delegate-status-text">{{vote.status}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- Button -->
  <div class="btn-area" *ngIf="isView">
    <ion-button class="continue-btn" (click)="continue()">{{signinAccount.isMultisignature?"Continue":"Send"}}</ion-button>
  </div>
</ion-content>