<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="isView">
      <div class="row" (click)="openAccountEdit(address)">
        <div class="setting">
          <ion-icon name="settings-outline"></ion-icon>
        </div>
        <div class="identicon"><img src="https://lisk-avator.ysdev.work/{{address}}?size=30"/></div>
        <div class="account">
          <div class="address">{{address}}</div>
          <div>balance: {{balance}} LSK</div>
          <div>misc: {{misc}}</div>
        </div>
      </div>
      <div class="members" (click)="openMembers(address)">
        <div class="icon"><ion-icon name="caret-forward"></ion-icon></div>
        <div class="text"><ion-icon name="key" style="margin-right: 5px;"></ion-icon>Display Multisgnature Members</div>
      </div>
      <div class="item-title">- Latest 10 Transactions -</div>

    </div>
  </div>
</ion-content>