#container {
  text-align: center;
  padding: 10px 20px 100px 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container .input-box {
  position: relative;
}

#container input[type="text"],
#container input[type="password"] {
  font-size: 16px;
  padding: 10px;
  padding-right: 50px;
  width: 80vw;
  max-width: 500px;
  height: 50px;
}

#container input:read-only {
  color: #8c8c8c;
}

#container .input-clear {
  position: absolute;
  color: white;
  right: 1px;
  top: 1px;
  width: 38px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: rgba($color: #000000, $alpha: 0.15);
}

ion-footer .footer-buttons {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  padding: 0px 10px 20px 10px;
}

#container ion-button,
ion-footer ion-button {
  font-size: 16px;
  height: 50px;
  width: 80vw;
  max-width: 500px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  text-align: center;
  opacity: 0.8;
}

::ng-deep .mat-snack-bar-container {
  margin-top: 65px !important;
}

::ng-deep .mat-snack-bar-container button {
  background-color: rgba($color: #ffffff, $alpha: 0.1) !important;
}