#container {
  text-align: center;
  padding: 10px 20px 0px 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container .input-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::ng-deep ion-input {
  font-size: 16px;
}

::ng-deep ion-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--ion-safe-area-bottom, 10px);
  background-color: var(--ion-background-color, #fff);
}

#container ion-button {
  font-size: 16px;
  height: 50px;
  width: calc(100vw - 80px);
  max-width: 560px;
  margin-left: -1px;
}

ion-footer ion-button {
  font-size: 16px;
  height: 50px;
  width: calc(100vw - 40px);
  max-width: 600px;
  margin: 10px 0px 10px -1px;
}

ion-button.sub-btn {
  display: flex;
  align-items: center;
  height: 30px !important;
  width: calc(100vw - 40px) !important;
  max-width: 600px !important;
  position: relative;
}

ion-button.sub-btn .side-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  height: 30px !important;
}

ion-button.sub-btn .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-title {
  margin-top: 10px;
  text-align: left;
  width: calc(100vw - 80px) !important;
  max-width: 560px !important;
}

.eye div {
  display: flex;
  align-items: center;
}

.eye div ion-icon {
  margin-left: 5px;
}

ion-item.input-item {
  width: calc(100vw - 80px);
  max-width: 560px;
  margin-top: 5px;
}

ion-card ion-item.input-item {
  --background: var(--ion-background-color, #fff);
}

// address row
.rows {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  color: white;
  background-color: #3b6ec0;
  border-radius: 5px;
  margin: 5px 0px;
  width: calc(100vw - 40px);
  max-width: 600px;
}

.row .row-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .side-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  width: 30px;
  height: 75px;
}

.row .side-btn.left {
  background-color: #284f92;
  border-radius: 5px 0 0 5px;
}

.row .side-btn.right {
  border-radius: 0 5px 5px 0;
}

.row .side-btn ion-icon.link {
  position: absolute !important;
  top: 5px;
  font-size: 1rem;
}

.row .identicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.row .sort {
  font-size: 25px;
  width: 30px;
}

.row .account {
  width: calc(100vw - 90px);
  max-width: calc(600px - 50px);
  padding: 5px 10px 5px 0px;
  text-align: left;
}

.row .account div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  color: #cee0ee;
}

.row .account div.address {
  font-size: 1rem;
  color: #ffffff;
}

/* dialog */
@media (prefers-color-scheme: dark) {
  ::ng-deep ion-backdrop {
    background-color: #ffffff;
  }
}

::ng-deep .dialog-custom-class .modal-wrapper {
  width: calc(100vw - 40px);
  max-width: 600px;
  height: 520px;
  border-radius: 10px;
}

::ng-deep .confirm-custom-class .modal-wrapper {
  width: calc(100vw - 40px);
  max-width: 600px;
  height: 300px;
  border-radius: 10px;
}

// toast
::ng-deep .toast-container {
  padding-top: var(--ion-safe-area-top);
}

// angular
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  text-align: center;
  opacity: 0.8;
}