#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  height: 100%;
}

.card {
  padding: 20px;
  width: calc(100vw - 40px);
  max-width: 600px;
}