<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="isView">
      <div *ngIf="accounts.length === 0" style="margin-top: 5px;">No data</div>
      <div *ngIf="accounts.length > 0" class="rows">
        <div cdkDropList [cdkDropListData]="accounts" (cdkDropListDropped)="drop($event)">
          <div cdkDrag *ngFor="let account of accounts">
            <div class="row">
              <div class="side-btn left" (click)="openAccountEdit(account.address)">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
              <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{account.address}}?size=30"/></div>
              <div class="account" (click)="signIn(account.address)">
                <div class="address">{{account.address}}</div>
                <div>Misc: {{account.misc}}</div>
              </div>
              <ion-icon class="sort" name="reorder-three-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>