.fee {
  text-align: left;
  font-size: 0.8rem;
  margin-top: 5px;
  opacity: 0.8;
}

.card {
  padding: 20px;
  width: calc(100vw - 40px);
  max-width: 600px;
  margin-top: 5px;
}

.title {
  font-size: 1.5rem;
}