<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Send</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="row">
      <div class="identicon"><img src="https://lisk-avator.ysdev.work/{{address}}?size=30"/></div>
      <div class="account">
        <div class="address">{{address}}</div>
        <div>balance: {{balance}} LSK</div>
      </div>
    </div>
  </div>
</ion-content>