<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="signin-account">
      <div class="account-info" *ngIf="isView">
        <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{address}}?size=30"/></div>
        <div class="account">
          <div class="address">{{address}}</div>
          <div class="balance">{{balance}} LSK</div>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="isView">
      <div class="content-title">- Send Contents -</div>
      <div class="input-area">
        <ion-card class="card">
          <div>
            <div class="item-title bookmark" (click)="openBookmarks()">
              <div>Recipient address<ion-icon name="bookmark"></ion-icon></div>
            </div>
            <ion-item class="input-item" lines="full">
              <ion-input type="text" placeholder="Enter recipient address" clearInput="true" autocomplete="off" [(ngModel)]="model.recipient" (ionChange)="computeFee()"></ion-input>
            </ion-item>

            <ion-item class="input-item add-bookmark" lines="none">
              <ion-checkbox slot="start" mode="ios" [(ngModel)]="model.addBookmark"></ion-checkbox>
              <ion-label>Bookmark the recipient address.</ion-label>
            </ion-item>

            <div class="item-title">Amount</div>
            <ion-item class="input-item" lines="full">
              <ion-input type="number" inputmode="decimal" min="0" max="99999999.99999999" step="0.00000001"  pattern="^([1-9]\d*|0)(\.\d+)?$" placeholder="Enter amount" clearInput="true" autocomplete="off" [(ngModel)]="model.amount" (ionChange)="computeFee()"></ion-input>
            </ion-item>

            <div class="item-title">Data (optional)</div>
            <ion-item class="input-item" lines="full">
              <ion-input type="text" maxlength="64" placeholder="Enter data (optional)" clearInput="true" autocomplete="off" [(ngModel)]="model.data" (ionChange)="computeFee()"></ion-input>
            </ion-item>

            <div class="fee">fee: {{fee}} LSK</div>
            <div style="margin-top: 20px;"><ion-button (click)="continue()">{{signinAccount.isMultisignature?"Continue":"Send"}}</ion-button></div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>