#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

ion-list-header {
  padding: 0px;
}
ion-list-header ion-label {
  margin: 0px;
  padding: 10px;
  background-color: #0c3564;
  font-size: 1.2rem;
}

.setting-item {
  margin-top: 25px;
  width: calc(100vw - 40px);
  max-width: 600px;
}

.setting-text {
  text-align: left;
  font-size: 0.8rem;
  color: #f03c3c;
}

.setting-btn ion-button {
  margin-top: 10px;
  font-size: 16px;
  height: 50px;
  width: calc(100vw - 40px);
  max-width: 600px;
  margin-left: -1px;
}