<ion-header [translucent]="true" style="padding: 0px;">
  <ion-toolbar style="padding: 0px;">
    <ion-title>Passphrase</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img src="https://lisk-avatar.ysdev.work/{{address}}?size=130"/>
    <div class="address">{{address}}</div>
    <div class="item-title">Passphrase</div>
    <ion-item class="input-item" lines="full">
      <ion-input type="password" value={{passphrase}} placeholder="Enter passphrase" clearInput="true" autocomplete="off" (ionChange)="setPassphrase($event.target.value)"></ion-input>
    </ion-item>
    <ion-button (click)="sign()" style="margin-top: 10px;">Sign</ion-button>
  </div>
</ion-content>