<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="signin-account">
      <div class="account-info" *ngIf="isView">
        <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{address}}?size=30"/></div>
        <div class="account">
          <div class="address">{{address}}</div>
          <div class="balance">{{balance}} LSK</div>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="isView">
      <div class="content-title">- Choose Sign Members -</div>
      <div class="rows" style="margin-top: 5px;">
        <div class="item-title">Status (signed / required)</div>
        <div class="row multisgnature-status">
          <div class="text">Number of signatures: {{signedStatus.numberOfMandatorySigned + signedStatus.numberOfOptionalSigned}} / {{signedStatus.numberOfSignatures}}</div>
          <div class="text">
            mandatory: {{signedStatus.numberOfMandatorySigned}} / {{signedStatus.numberOfMandatory}}
            &nbsp;&nbsp;
            optional: {{signedStatus.numberOfOptionalSigned}} / {{signedStatus.numberOfOptional}}
          </div>
        </div>

        <ion-button class="sub-btn" fill="outline" color="tertiary" style="margin-bottom: 5px;" (click)="showTransaction()">
          <div class="text"><ion-icon name="reader-outline"></ion-icon>Show Transaction</div>
          <div class="side-btn right"><ion-icon name="chevron-forward"></ion-icon></div>
        </ion-button>

        <div class="item-title">Sender</div>
        <div class="row" (click)="sign(senderStatus.address)">
          <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{senderStatus.address}}?size=30"/></div>
          <div class="account">
            <div *ngIf="senderStatus.status===0" class="notSigned"><ion-icon name="caret-forward"></ion-icon>&nbsp;Unsigned</div>
            <div *ngIf="senderStatus.status===1" class="signed"><ion-icon name="checkmark"></ion-icon>&nbsp;Signed</div>
            <div *ngIf="senderStatus.status===9" class="notAvailable"><ion-icon name="ban"></ion-icon>&nbsp;{{senderStatus.isMember? "Can not sign": "Not member"}}</div>
            <div class="address">{{senderStatus.address}}</div>
            <div *ngIf="senderStatus.isMember">{{senderStatus.isMandatory? 'Mandatory': 'Optional'}}</div>
          </div>
        </div>

        <div *ngIf="mandatoryStatus.length > 0" class="item-title">Mandatory</div>
        <div *ngFor="let member of mandatoryStatus">
          <div class="row" (click)="sign(member.address)">
            <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{member.address}}?size=30"/></div>
            <div class="account">
              <div *ngIf="member.status===0" class="notSigned"><ion-icon name="caret-forward"></ion-icon>&nbsp;Unsigned</div>
              <div *ngIf="member.status===1" class="signed"><ion-icon name="checkmark"></ion-icon>&nbsp;Signed</div>
              <div *ngIf="member.status===9" class="notAvailable"><ion-icon name="ban"></ion-icon>&nbsp;Can not sign</div>
              <div class="address">{{member.address}}</div>
              <div>Mandatory</div>
            </div>
          </div>
        </div>
        
        <div *ngIf="optionalStatus.length > 0" class="item-title">Optional</div>
        <div *ngFor="let member of optionalStatus">
          <div class="row" (click)="sign(member.address)">
            <div class="identicon"><img src="https://lisk-avatar.ysdev.work/{{member.address}}?size=30"/></div>
            <div class="account">
              <div *ngIf="member.status===0" class="notSigned"><ion-icon name="caret-forward"></ion-icon>&nbsp;Unsigned</div>
              <div *ngIf="member.status===1" class="signed"><ion-icon name="checkmark"></ion-icon>&nbsp;Signed</div>
              <div *ngIf="member.status===9" class="notAvailable"><ion-icon name="ban"></ion-icon>&nbsp;Can not sign</div>
              <div class="address">{{member.address}}</div>
              <div>Optional</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button disabled={{disableSendBtn}} (click)="send()">Send</ion-button>
</ion-footer>