.row .notSigned,
.row .signed,
.row .notAvailable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  color: #284f92 !important;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100px !important;
}

.row .notSigned {
  color: #284f92 !important;
}

.row .signed {
  color: #115221 !important;
}

.row .notAvailable {
  color: #922828 !important;
}

.item-title,
#container ion-button {
  width: calc(100vw - 40px) !important;
  max-width: 600px !important;
}

.multisgnature-status {
  flex-direction: column;
  background-color: #6b6969;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 20px;
}

.multisgnature-status .text {
  display: flex;
  align-items: center;
  justify-content: left;
  width: calc(100vw - 80px);
  max-width: 560px;
  font-size: 0.8rem;
}